
<div id="bar">
  <div class="row">
    <div class="large-16 column">
      <div class="menu-centered">
        <ul class="menu">
          <li class="inactive">
            <%= link_to 'HOME', root_path %>
          </li>
          <li class="active">
            <%= link_to 'MOVIES', movies_path %>
          </li>
          <li class="inactive">
            <%= link_to 'GENRES', genres_path %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row container">
  <div class="large-12 columns">

    <% if !notice.nil? %>
        <div class="row row-buffer"></div>

        <div class="row">
          <div class="large-6 medium-6 small-6 columns">
            <div class="callout primary">
              <%= notice %>
            </div>
          </div>
        </div>
    <% end %>

    <div class="row row-buffer"></div>

    <div class="row">
      <% @movies.each do |movie| %>
          <div class="large-3 medium-4 columns end">
            <%= link_to movie do %>
              <img class="movie-poster" src="images/<%= movie.poster %>">
            <% end %>
          </div>
    <% end %>
    </div>

  </div>

  <div class="row row-buffer"></div>

</div>

<div class="row row-buffer"></div>

<div class="row">
  <div class="large-12 colums">
    <ul class="menu">
      <li>
        <%= link_to 'NEW MOVIE', new_movie_path %>
      </li>
    </ul>
  </div>
</div>
